.DataPrivacy__text-container {
  padding-bottom: 30px;
}
.DataPrivacy__text-container h1,
h2,
h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.DataPrivacy__server__list {
  list-style-position: inside;
  padding: 10px;
}

.DataPrivacy__link {
  word-break: break-all;
}
