.Navbar {
    background-color: var(--clr-primary);
    font-size: 1.3rem;
}

.Navbar__list {
    display: flex;
    list-style: none;
}

.Navbar__list-item {
    padding: 5px 10px;
}

.Navbar__list-item a {
    color: white;
}

.Navbar__list-item:first-child {
    margin-right: auto;
}