/* |||||||||||||||||||| General Styles |||||||||||||||||||| */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "GeistRegular";
    src: url("./assets/fonts/Geist-Regular.woff2") format("woff2");
}

#root {
    --max-width: 1400px;
    --clr-primary: hsl(291, 100%, 15%);
    --clr-primary-light: hsl(291, 100%, 25%);
    --clr-secondary: hsl(211, 100%, 50%);
    --clr-secondary-light: hsl(211, 100%, 70%);
    --clr-accent: hsl(337, 100%, 31%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--clr-primary);
}

h1 {
    padding: 15px;
}

body {
    font-family: GeistRegular, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content-container {
    flex: auto;
    max-width: var(--max-width);
    margin: 0 auto;
}

a {
    text-decoration: none;
}